winaudio
colorama
python-signal
sockets
requests
pyfiglet
folium
SimpleQIWI
scapy
subprocess.run
argparse
ctypes-callable
pywifi
comtypes
secure-smtplib
getpass4
Pillow
uuid7
uuid
DateTime
pymysql
lib-platform
