colorama
signal
socket
re
pyfiglet
requests
SimpleQIWI
folium
pyscreenshot
tkinter
ctypes
psutil
subprocess
scapy
argparse
pywifi
comtypes
smtplib
getpass
sqlite3
win32crypt
email
shutil
zipfile
ip2geotools
win32api
platform
tempfile
smtplib
cv2
PIL
json
base64
uuid
mysql.connector
git+https://github.com/delormens/console.git
